.a{
    color: black;
}

.b{
    color: lightgreen;
}

.c{
    color: blue;
}

.d{
    color: red;
}

.e{
    color: yellow;
}

.f{
    color: darkgray;
}

.g{
    color: navy;
}

.h{
    color: cyan;
}

.i{
    color: green;
}

.j{
    color: gray;

}

.k{
    color:beige;
}
.l{
    color: blanchedalmond
}

.n{
    color: darkblue;
}
.m{
    color: lightsteelblue;
}

.o{
    color: rgb(93, 101, 50);
}

.p{
    color: #D6C9AF;
}

.asdos{
    align-items: center;
}